<div class="row">
  <div class='breadcrumb-links media'>
    <span class="media-body ml-3" aria-hidden="true">&nbsp;</span>
    <span class="col ml-2 pl-0" ><%= parents_to_links(document) %></span>
  </div>
</div>
