@media screen {
  body.ead-print {
    font-size: 12pt;
    padding-top: 5rem;
    width: 70rem;
    max-width: 95%;
    margin: auto;
  }
}

@media print {
  html {
    width: 100%;
    margin: auto;
  }

  body.ead-print {
    font-size: 10pt;
  }
}

body.ead-print {
  font-family: GeorgiaProRegular, Georgia, "Times New Roman", Times, serif;
}

.no-bullets {
  list-style-type: none;
}

div.title-block {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2.5pt solid;

  h1 {
    font-size: 175%;
  }

  p {
    font-size: 125%;
  }
}

div.did {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2.5pt solid;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-size: 100%; // required to override some user agent stylesheets

  thead {
    vertical-align: top; // required to override some user agent stylesheets
    font-weight: bold;
  }

  tbody {
    vertical-align: top; // required to override some user agent stylesheets
  }

  td {
    min-width: 15%;
  }
}

table.overview {
  width: 100%;
  td {
    padding-top: .25rem;
  }

  td.did-label {
    font-weight: bold;
    vertical-align: text-top;
    width: 8rem;
  }

  td.did-value {
    font-weight: normal;
    font-style: italic;
  }
}

table.chronlist {
  td.date {
    width: 8rem;
  }
  h4 {
    margin-block-end: 0.25rem;
  }
}

div.archdesc-section {
  border-bottom: 1.5pt solid;

  h3 {
    margin-block-end: 0.5rem;
  }

  p {
    margin-block-start: 0.25rem;
  }

  ul.subject-headings {
    list-style-type: none;
    margin: 0;

    h5 {
      font-size: 100%;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  li.subj-label {
    margin-bottom: 0.75rem;
  }
}

div.archdesc-section.restrict {
  h4 {
    display: inline;
    margin-right: .5rem;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
  }
}

div.archdesc-section.admininfo {
  .subhead-1 {
    font-weight: bold;
    display: inline;
  }
}
ul.bibliography {
  margin-block-start: 0.5rem;
}

table.dcs-components {
  td.container-id {
    width: 7rem;
  }

  tr:nth-child(odd) {
    background-color: lightgray;
  }
}
